/*Responsive for mobile*/
@media(max-width:767px){
    html{
        right:0;
    }
    .img{
        height:60px;
        width:60px;
    }
    .img.img_logo{
        margin-left: 10px;
    }
    .author{
        margin-right: 10px;
    }
    .handicraft{
        font-style: italic;
        color: #ccc;
        padding-top:18px;
        font-size:10px;
        margin: 0;
    }
    .JimHlS{
        font-size:10px;
        text-align: right;
        font-weight: bold;
    }
    .content{
        height:120px;
    }
    .slogan{
        font-size:16px;
    }
    .sub_slogan{
        font-size:12px;
        margin-top: 16px;
    }
    .sentences{
        font-size:12px;
        margin: 42px 25px;
    }
    hr{
        margin-bottom: 0!important;
    }
    .line-top-btn{
        margin-top:120px!important;
    }
    .btn-reply{
        margin-right:auto!important;
        margin-left: auto!important;
        margin-bottom: 48px;
        margin-top: 0;
    }
    .btn-fun, .btn-not-fun{
        padding: 5px 16px!important;
        border-radius: 0!important;
        box-shadow: 1px 1px 1px #050550;
    }
    .btn-fun{
        margin-right:24px;
    }
    .btn-not-fun{
        margin-left: 24px;
    }
    .footer{
        margin: 10px 10px;
    }
    .des-copyright {
        font-size: 10px;
    }
    .message{
        font-size:14px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        margin:100px 10px;
    }
}
